* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: 1rem;
}

/* #b51311 */
html {
  scroll-behavior: smooth;
}
body {
  background-color: #dcdcdc;
  /* overflow-y: hidden; */
}

.darker {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
/*
 * NAV
 */
/* responsive */
.nav-responsive {
  display: none;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}
.burger {
  position: relative;
  width: 3rem;
  margin-left: 1rem;
  z-index: 10000;
}
.nav-responsive ul {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: -100%;
  background-color: #e0e0e0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.5s;
}
.nav-responsive li {
  margin: 1rem 0;
}
.nav-responsive li a {
  font-weight: 700;
  color: black;
}
.nav-responsive li a:hover {
  color: #b51311;
}
.nav-responsive li a img {
  width: 2.5rem;
  background-color: #b51311;
  border: 10px solid #b51311;
}

/* normal */
.nav-normal {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #e0e0e0;
  border-bottom: 5px solid #b51311;
  box-shadow: 2px 2px 2px 5px rgba(15, 15, 15, 0.5);
  z-index: 100;
}
.nav-normal ul {
  width: 80%;
  display: flex;
  margin: 0 10%;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  text-align: center;
}
.nav-normal li a {
  font-weight: 700;
  color: black;
  transition: 0.2s;
}
.nav-normal li a:hover {
  color: #b51311;
}
.nav-normal li a img {
  width: 2.5rem;
  background-color: #b51311;
  border: 10px solid #b51311;
  transition: 0.2s;
}
/*
 * HEADER
 */

header {
  position: relative;
  width: 100%;
  height: 99vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-image: url("img/junkyard.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

header img {
  width: 25rem;
  margin-bottom: 4rem;
  z-index: 1;
}
header p {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  color: #e0e0e0;
  background-color: #b51311;
  margin: 0 2rem;
  padding: 1rem 2rem;
  box-shadow: 10px 8px 2px 0px rgba(15, 15, 15, 0.5);
  z-index: 1;
}
/*
 * SECTION
 */
section {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e0e0e0;
  border: 0.5rem solid #b51311;
}
.title {
  flex: 1;
  flex-grow: 1;
  text-align: center;
}
.title h1 {
  font-size: 7vw;
  font-weight: 900;
  width: 80%;
  margin: 0 10%;
  color: #e0e0e0;
  background-color: #b51311;
  box-shadow: 10px 8px 2px 0px rgba(15, 15, 15, 0.5);
}
.text {
  flex: 1;
  flex-grow: 1;
  padding: 2rem 0;
}
.text a {
  font-weight: 700;
  color: #b51311;
}
.text p {
  line-height: 200%;
  margin-bottom: 2rem;
  padding: 0 1rem;
}

/*
 * DOWNLOAD
 */

.download {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 0.5rem solid #b51311;
  border-right: 0.5rem solid #b51311;
}
.download h1 {
  font-size: 5vw;
  font-weight: 900;
  width: 50%;
  margin-bottom: 2rem;
  color: #e0e0e0;
  text-align: center;
  background-color: #b51311;
  box-shadow: 10px 8px 2px 0px rgba(15, 15, 15, 0.5);
}
.download a {
  color: #000;
  width: 50%;
  margin: 1rem 0 1rem 0;
  padding: 2rem;
  background-color: #d2d2d2;
  transition: 0.2s;
}
.download a span {
  font-weight: bold;
  color: #b51311;
}
.download a:hover {
  transform: scale(1.1);
}

/*
 * Vrakac link
 */

.vrakac_link {
  position: relative;
  padding: 4rem 0;
  border-top: 0;
  flex-direction: column;
  background-image: url("img/vrakac.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.vrakac_link h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  color: #e0e0e0;
  z-index: 1;
}
.vrakac_link a {
  font-size: 1.2rem;
  /* font-weight: 500; */
  padding: 1rem 2rem;
  color: #e0e0e0;
  background-color: rgba(0, 0, 0, 0.6);
  border: 3px solid #b51311;
  box-shadow: 10px 8px 2px 0px rgba(15, 15, 15, 0.5);
  transition: 0.2s;
  z-index: 1;
}
.vrakac_link a:hover {
  background-color: #b51311;
}

/*
 * FOOTER
 */

footer {
  position: relative;
  width: 100%;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  background-color: #b51311;
}
footer h1 {
  font-size: 5vw;
  font-weight: 900;
  width: 50%;
  margin: 0 auto 3rem auto;
  color: #b51311;
  text-align: center;
  background-color: #e0e0e0;
  box-shadow: 10px 8px 2px 0px rgba(15, 15, 15, 0.5);
}
.footer-text {
  display: flex;
}
.footer-contact {
  display: flex;
  align-items: center;
  flex: 1;
  margin: 0 1rem 3rem 1rem;
  padding: 1rem;
  background-color: #e0e0e0;
}
.footer-contact svg {
  width: 1.5rem;
  margin-right: 1rem;
}
.google-link {
  justify-content: center;
  color: #000;
  transition: 0.2s;
}
.google-link:hover {
  color: #b51311;
}
.footer-address {
  display: flex;
}

/* COPIRIGHT */
.copiright {
  background-color: #840f0d;
  padding: 1rem 0;
  text-align: center;
}
.copiright i {
  font-weight: 200;
  color: #e0e0e0;
}

/*
 * MEDIA Q.
 */
@media only screen and (max-width: 850px) {
  .about_us {
    flex-direction: column;
  }
  .about_us .title {
    width: 80%;
    margin: 2rem 0;
  }
  .footer-text {
    flex-direction: column;
    margin-top: 2rem;
  }
  .footer-address {
    flex-direction: column;
  }
  .footer-contact {
    margin: 1rem;
  }
}
@media only screen and (max-width: 450px), screen and (max-height: 450px) {
  .nav-normal {
    display: none;
  }
  .nav-responsive {
    display: block;
  }
  header img {
    width: 15rem;
  }
  .title h1 {
    font-size: 10vw;
  }
  .download h1 {
    font-size: 9vw;
    width: 90%;
  }
  .download a {
    text-align: center;
    width: 90%;
  }
  footer h1 {
    font-size: 10vw;
    width: 70%;
  }
}
